# Dependencies
node_modules
.pnpm-store

# Next.js build output
.next
out

# Production
build
dist
dist/
/dist


# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env*.local
.env

# Vercel
.vercel